<h1>Home#index</h1>
<p id="notice"><%= alert %></p>
<p>Find me in app/views/home/index.html.erb</p>

<% if user_signed_in? %>
	<p>User type: <span class="label label-primary"><%= current_user.user_type %></span></p>
	<p>User role: <span class="label label-warning"><%= 'Owner' if current_user.has_role? :owner %></span></p>
<% end %>